{% extends "mails/user_email.html" %}
{% block mail_content %}
Vous pouvez réinitialiser votre mot de passe en suivant ce lien :<br>
<a class="reset-password-link" href="{{ app_origin_url }}/mot-de-passe-perdu?token={{ user.resetPasswordToken }}">
    {{ app_origin_url }}/mot-de-passe-perdu?token={{ user.resetPasswordToken }}
</a>
<div class="validity-info">
    Le lien est valable 24h. Au delà de ce délai, vous devrez demander une nouvelle réinitialisation.
</div>
{% endblock %}